In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import Ridge
from sklearn.datasets import load_boston
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [17]:
boston_dataset = load_boston()
boston = pd.DataFrame(boston_dataset.data,columns=boston_dataset.feature_names) 
boston['MEDV'] = boston_dataset.target 
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [18]:
boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [0]:
X = boston_dataset.feature_names
X  = np.array(boston[X])
X_std = (X - np.min(X) / (np.max(X) - np.min(X)))
y = np.array(boston['MEDV'])
y = y.reshape((y.shape[0], 1))

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

In [24]:
ridger = []
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size = 0.2)
    ridgeregressor = Ridge(alpha = 0.02, normalize= True)
    ridgeregressor.fit(X_train, y_train)
    y_pred = ridgeregressor.predict(X_train)
    ridger.append(r2_score(y_train, y_pred))
print("r-square values for 10 iterations:\n",ridger)

r-square values for 10 iterations:
 [0.7496204238630839, 0.7339702391079288, 0.755973431165638, 0.7441822751935518, 0.7721721838117015, 0.7485158865039093, 0.7361236487198582, 0.7642911872165556, 0.7378819426230854, 0.7450274307672105]